html
  head
    title= title
    link(rel='stylesheet', href='/css/index.css')
    script.
        function openProfile(e) {
            window.location.href = "/api/profile"
        }
  body
    div.container
        div.header
            div.heading.
                Welcome to next Gen Power Control
            div.button
                //- button(onclick='openProfile()',name="submit").
                //-     Profile
                a(href="/api/profile") Profile
            .button
                 a(href="/api/logout") Logout
        div.body
            div.row-1
                table
                    title='PowerConsumption'
                    //- div.table-column.
                    //-     Appliance
                    //- div.table-column.
                    //-     Time
                    //- div.table-column.
                    //-     Power Usage
                    thead  
                        tr
                            th='S.no'
                            th='Appliance'
                            th= 'RunTime'
                            th= 'Power Usage'
                            th='Cost'
                            th='Date - Time'
                    tbody
                        -for(var i=0;i<3;i++)
                            li #{i}
                        -var i=0
                        -var totalPower=0
                        -var totalCost=0
                        for d,index in data
                            if(d)  
                                    li  #{i++}
                                    li  #{totalPower= totalPower+d['power']}
                                    li  #{totalCost= totalCost+parseInt(d['cost'])}
                                    tr
                                        td  #{i}
                                        td=d['name']
                                        td= d['time']
                                        td=d['power']+'W'
                                        td=d['cost'] +' Rs'
                                        td=d['date']

            div.row-2
               table.first
                thead
                    tr
                        th='Username'
                        th='Total Power'
                        th='Total Bill'
                tbody
                    tr
                        td=user.toUpperCase()
                        td #{totalPower}W
                        td #{totalCost} Rs
                    
        .footer
            h2  Footer
            //- h3  #{token}