html
    head
        title Profile
        link(rel='stylesheet', href='/css/profile.css')
        script.
            function destroySession(e) {
                window.location.href = "/api/endsession"
            }
    body
        .container
            .heading
                .title  Profile
                .button
                    button(onclick='destroySession()',name="submit") logout
                    
            .body
                text welcome
                .info
                    .label-entry
                        label(for="username") username
                        input(type="text",name="username",value=user.name readonly)
                    .label-entry
                        label(for="email")  Email
                        input(type="text",name="email",value=user.email readonly)
                    .label-entry
                        label(for="State")  State
                        input(id="State" type="text",name="state",value=profile.address.state readonly)
                    .label-entry
                        label(for="district")  District
                        input(type="text",name="district",value=profile.address.district  readonly)
                    .label-entry
                        label(for="street")  Street
                        input(type="text",name="street",value=profile.address.street readonly)
                    .label-entry
                        label(for="house_no")  Street
                        input(id="house_no" type="text",name="street",value=profile.address.house_no readonly)
                    a(href="/api/dashboard")    go back to dashboard
                    //- .button
                    //-    button Submit