html
    head
        title Profile
        link(rel='stylesheet', href='/css/profile.css')
    body
        .container
            .heading
                h1 Edit Profile
            .body
                .info
                    .label-entry
                        label(for="username") username
                        input(type="text",name="username",value=user.name readonly)
                    .label-entry
                        label(for="email")  Email
                        input(type="text",name="email",value=user.email readonly)
                    .label-entry
                        label(for="State")  State
                        input(id="State" type="text",name="state",value=user.address.state)
                    .label-entry
                        label(for="district")  District
                        input(type="text",name="district",value=user.address.district)
                    .label-entry
                        label(for="street")  Street
                        input(type="text",name="street",value=user.address.street)
                    .label-entry
                        label(for="house_no")  Street
                        input(id="house_no" type="text",name="street",value=user.address.house_no)
                    .button
                        button Submit